<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Server=FFT_RAJIB\MSSQLSERVER2014;Initial Catalog=BARUNPOTATODB;Integrated Security=SSPI"/>
    <add key="ConnectionString" value="Server=127.0.0.1;Initial Catalog=westbewin3_kithnkeendb;User ID=kithnkeen;Password=P@ssw0rd;Persist Security Info=False"/>-->
    <!-- <add key="ConnectionString" value="Server=LAPTOP-SE3E27GD;Initial Catalog=BARUNPOTATODB;Integrated Security=SSPI"/>-->
    <add key="ConnectionString" value="Server=182.50.133.110;Initial Catalog=kithandkeen;User ID=kithandkeen;Password=P@ssw0rd;Persist Security Info=False"/>
    <add key="ROUTE_1" value="2"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="0E6B15025C831F8EA3F200551D2EB13DD8914426168DAD88AACED68B774AEA555DB731042BBFB1E2960934A5C18A30A1BBE00121F2C094B8DC4C1489BE70991E" decryptionKey="1F7EB3870E21EF370A90865905CD086A9B00AE650C99FFB3587446A647861C97"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" path="/" loginUrl="Login.aspx" protection="All" timeout="60"/>
    </authentication>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>